<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% load static %}
{% block main_block %}
  <link rel="stylesheet" href="{% static 'css/dashboardstyle1.css' %}">
{% endblock %}

{% block child_block %}
      <h3 style="background-color: #BE5869;padding: 7px 100px;" class="text-white">Add Student</h3>
      <div class="container-fluid" style="margin-top: 20px;margin-bottom: 20px;">
        <div class="row">
            <div class="col-22 col-md-3  ml-md-5 mx-auto">
              <form method="post" class="d-block">
                  <input type="text" name="eid" value="" placeholder="Roll No." id="id_eid"><br>
                  <input type="text" name="first_name" value="" placeholder="First Name" id="id_first_name"><br>
                  <input type="text" name="last_name" value="" placeholder="Last Name" id="id_last_name"><br>
                  <input type="text" name="salary" value="" placeholder="Sem" id="id_salary">
				  
				  <br>
				  <input type="text" name="country" value="" placeholder="Branch" id="id_country"><br>
				  
                  <input type="radio" name="gender" value="Male" checked id="id_gender_0" class="my-2">
                  Male
                  <input type="radio" name="gender" value="Female" id="id_gender_1" class="ml-4 my-2">
                  Female <br><br>
                  <input type="text" name="contactno" value="" placeholder="Contact No" id="id_contactno"><br>
                  <input type="text" name="email" value="" placeholder="Email" id="id_email"><br>
                 
                  <input type="text" name="city" value="" placeholder="City" id="id_city"><br>
                  <input type="text" name="pincode" value="" placeholder="Pincode" id="id_pincode"><br>
                  <input type="text" name="address" value="" placeholder="Address" id="id_address"><br>
                  <input type="submit" name="" value="Submit">
                  <a href="/dashboard" style="background-color: #a8783e;color:white;padding:5px 14px;margin-left: 5px;" class="d-inline-block">Back</a>
                  {% csrf_token %}

                </form>
              </div>
          </div>
      </div>

{% endblock %}
