<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% load static %}
{% block main_block %}

{% endblock %}
{% block child_block %}
    <h3 style="background-color: #BE5869;padding: 7px 100px;" class="text-white">Password Change</h3>
    <div class="container" style="margin-top: 40px;margin-bottom: 40px;">
      <div class="{{class}}" role="alert">
          {{message}}
      </div>
        <div class="row">
            <div class="col my-4">
              <form method="post">
                  {{form.as_p}}
                  <input type="submit" name="" value="Change Password" class="text-white p-1 px-2" style="background-color: #d16666;border:none;">
                  {% csrf_token %}
              </form>
            </div>
        </div>
    </div>
{% endblock %}
